{% load static %} 
{% include "partials/head.html" %}
    <title>Colores Your Work</title>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
</head>
<body>
    <div class="div">
        <!-- {% include "partials/navbar.html" %} -->
        Hola, cómo te va?

        <span class="data"></span>
        <hr>        
        <button id="read">Leer Códigos</button>
        <form class="container-create" action="/createQR/" method="post">
            {% csrf_token %}
            <button id="create">Crear Códigos</button>
            <div id="take-code"></div>
        </form>

    </div>
    {% if mark_error|length > 0 %}
    <div class="mark_error">
        {% for row in mark_error %}
            <p>
                <b>{{ row.title }}</b>
                <p>{{ row.body }}</p>
            </p>
        {% endfor %}
    </div>
    {% endif %}

	{% include "partials/footer.html" %}
    <script src="{% static 'home/home.js' %}"></script>

    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}"; 
    </script>
</body>
</html>