{% load static %} 
{% include "partials/head.html" %}
    <title>Colores Your Work</title>
    <link rel="stylesheet" href="{% static 'text.css' %}">
</head>
<body>
    <div class="div">
        <!-- {% include "partials/navbar.html" %} -->
        Página texto
        <hr>
        <form id="text_container" class="container-create" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" id="image">
            <button type="submit" id="read_image">Leer imagen</button>
        </form>
        <div class="readed"></div>

    </div>
    {% if mark_error|length > 0 %}
    <div class="mark_error">
        {% for row in mark_error %}
            <p>
                <b>{{ row.title }}</b>
                <p>{{ row.body }}</p>
            </p>
        {% endfor %}
    </div>
    {% endif %}

	{% include "partials/footer.html" %}
    <script src="{% static 'home/home.js' %}"></script>
    <script src="{% static 'text.js' %}"></script>

    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}"; 
    </script>
</body>
</html>